fastapi
uvicorn[standard]
jinja2
pykakasi
speechrecognition
pyaudio
aiofiles
python-multipart
openai
SQLAlchemy>=2.0
passlib[bcrypt]
itsdangerous
python-dotenv
alembic
psycopg2-binary
requests
beautifulsoup4
